<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <style>
        body {
            font-family: 'Nunito';
        }
        </style>
    </head>
    <body>
        <h2>Hi {{ user.username }}!</h2>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
        <iframe 
            src="https://docs.google.com/spreadsheets/d/1CYlqpUYkA7MLlOpukUN81LezczMdQdt5EZxdPTGKrZk/edit?usp=sharing?gid=0&amp;single=true&amp;widget=true&amp;headers=false"
            style="width:800px; height:400px">
        </iframe>
    </body>
</html>
